[Unit]
Description=Scheduled IDWT Apply (every second)

[Timer]
AccuracySec=1s
OnBootSec=1s
OnUnitInactiveSec=1s
Persistent=false
Restart=always

[Install]
WantedBy=multi-user.target
