[Unit]
Description=Automatically apply chezmoi when directory changes
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/chezmoi apply --keep-going

[Install]
WantedBy=default.target