name: gts aurorafin
on:
  schedule:
    - cron: "00 06 * * 0" # 06:00 UTC every Sunday
  push:
    paths-ignore:
      - '/toolboxes/**'
      - "**.md"

  pull_request:
  workflow_dispatch:
jobs:
  bluebuild:
    name: Build Custom Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        recipe:
          - aurora-dx-gts.yml
          - aurora-gts.yml
          - bluefin-dx-gts.yml
          - bluefin-gts.yml

    steps:
      - name: Build Custom Image
        uses: blue-build/github-action@v1.5
        with:
          recipe: ${{ matrix.recipe }}
          cosign_private_key: ${{ secrets.SIGNING_SECRET }}
          registry_token: ${{ github.token }}
          pr_event_number: ${{ github.event.number }}
